*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
gradlew
gradlew.bat
.idea/
gradle/wrapper/gradle-wrapper.jar
knUtils-release/build/
knMGE-release/build/
knContext-release/build/
knCanvas-release/build/
knCanvas/build/
knContext/build/
knDateCalendar/build/
knMGE/build/
knUtils/build/
kotlinNativeScopeMarketDataLayer/build/
kotlin_native_currency_converter2/build/
knCurrencyConverter/build/
android_common/build/
android_fragment_market_watch/build/
android_router/build/
android_view_graph_impl/build/
kotlin_native_scope_market_graph/build/
*.class
*.bin
*.dex
